/* p{
background-color: red;
}
a{
background-color: rgb(178, 178, 187);
}
div{
background-color: green;
}
span{
background-color: yellow;
} */

#1st class {
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.bg red{
    background-color: red;
}